<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Pocket Nono Spring</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        body {
            position: relative;
        }
        .line {
            display: flex;
        }
        .cell {
            flex: 1 0 0;
            background-color: lightslategray;
            margin: 5px;
            aspect-ratio: 1;
            cursor: pointer;
        }
        .cell.active {
            background-color: lightcoral;
        }
        .message {
            position: absolute;
            display: none;
            top: 100px;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
            width: max-content;
            background-color: greenyellow;
            padding: 50px;
        }
    </style>

    <script type="application/javascript">
        var hideTimer = null
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".cell").forEach(cell => {
                cell.addEventListener("click", (event) => {
                    var xPos = 1, yPos = 1
                    var column = event.target.previousElementSibling
                    while (column) {
                        xPos++
                        column = column.previousElementSibling
                    }

                    var row = event.target.parentNode.previousElementSibling
                    while (row) {
                        yPos++
                        row = row.previousElementSibling
                    }

                    const xhr = new XMLHttpRequest()

                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === 4) {
                            document.querySelector(".message").innerText = "Activated fields: "+xhr.responseText
                            document.querySelector(".message").style.display = "block"

                            if (hideTimer !== null) {
                                window.clearTimeout(hideTimer)
                            }

                            hideTimer = window.setTimeout(() => document.querySelector(".message").style.display = "none", 2000)
                        }
                    }

                    xhr.open("POST", "/click")
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8")
                    xhr.send("x="+xPos+"&y="+yPos)

                    event.target.classList.toggle("active")
                })
            })
        })
    </script>
</head>
<body>
    <h1>Pocket Nono: Click some fields</h1>

    <div class="board">
        <div class="line" th:each="line: ${#numbers.sequence(1, game.height)}">
            <div th:class="'cell '+${game.isActive(line, col) ? 'active' : ''}" th:each="col: ${#numbers.sequence(1, game.width)}">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="message">

    </div>
</body>
</html>